.up { 
  justify-content:space-evenly;
  Display:flex; 
}
.top1st{
  margin-bottom:200px;
}
  .lower{
    justify-content:space-between;
    width: 50%;
    display:flex;
}
.MediumPop{
  display:flex ;
}
.minisun{
  position: bottom-left;
  font-size:75px;
  width:50%;
  }

.minimoon{
  margin-left: 30px;
  margin-bottom: 90px;
  width: 70%;
  
  font-size: 25px;
  
}

.Bblock{
  border-right:solid;
  
}
.broad{
  border-right:solid;
  font: bold;
}
